.keyValueContainer {
  flex-direction: column;
  margin: var(--sp-5) 0;
  flex: 1;
}

.row {
  border-bottom: 1px solid var(--plt-neutral-200);
  border-right: 1px solid var(--plt-neutral-200);
  flex: 1;
}

.row:first-of-type {
  border-top: 1px solid var(--plt-neutral-200);
}

.row:nth-child(odd) {
  background: var(--plt-neutral-200);
}

.rowItemKey {
  padding: var(--sp-3) var(--sp-5);
  font-weight: var(--fw-medium);
  /* background: var(--plt-neutral-300); */
  color: var(--plt-neutral-900);
  min-width: var(--sp-A);
  /* text-align: center; */
  /* justify-content: center; */
}

.rowItemValue {
  padding: var(--sp-3);
  flex: 0.5;
}

.action_container {
  align-items: center;
  justify-content: flex-end;
}

.action_container a {
  padding-right: var(--sp-3);
}

input {
  border: 0;
  outline: none;
  background: var(--plt-neutral-200);
  font-size: var(--fs-2);
  margin: 0;
}

button {
  border: 0;
  background: var(--plt-primary-700);
  color: var(--plt-neutral-200);
  padding: var(--sp-2) var(--sp-5);
  font-size: var(--fs-3);
  outline: none;
  border-radius: var(--br-2);
}
