.code {
  flex-direction: column;
  font-family: var(--ff-code);
  color: var(--plt-neutral-200);
  padding: var(--sp-4);
  background: var(--plt-neutral-B00);
  overflow-x: scroll;
  margin-top: var(--sp-3);
}

.code_line {
  padding-bottom: var(--sp-1);
}

.dots,
.dots:before,
.dots:after {
  border-radius: 50%;
  width: var(--sp-3);
  height: var(--sp-3);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.dots {
  color: var(--plt-neutral-200);
  font-size: 10px;
  margin: 25px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.dots:before,
.dots:after {
  content: "";
  position: absolute;
  top: 0;
}
.dots:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.dots:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
