menu {
  width: var(--sp-B);
  background: var(--plt-neutral-900);
  height: 100vh;
  margin: 0;
  color: var(--plt-neutral-100);
  font-weight: var(--fw-medium);
}

header {
  display: none;
}

.title {
  font-weight: var(--fw-medium);
  display: flex;
  align-content: center;
  font-size: var(--fs-4);
}

.title_left {
  flex: 0.9;
  align-self: center;
}

.title_left > img {
  width: 45px;
  height: auto;
  margin-right: var(--sp-3);
  align-self: center;
}

.title_right {
  align-self: center;
  flex: 0.1;
  font-size: 0;
}

menu ul {
  padding-bottom: var(--sp-4);
}

menu ul > li {
  padding: var(--sp-5);
  list-style: none;
  cursor: pointer;
  border-bottom: 1px solid var(--plt-neutral-800);
}

menu ul > li > svg {
  font-size: var(--sp-8);
  margin-right: var(--sp-2);
}

/* menu ul > li:hover {
  color: var(--plt-neutral-900);
  background: var(--plt-neutral-100);
} */

.container {
  padding: var(--sp-7);
  background: var(--plt-neutral-100);
  width: 100%;
  height: 100vh;
  flex-direction: column;
}

.content {
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  menu {
    position: fixed;
    transition: left 0.2s;
  }

  .open {
    left: 0;
  }

  .closed {
    left: -300px;
  }

  .title_right {
    font-size: var(--fs-6);
  }

  .title_left {
    align-items: center;
  }

  .container {
    margin: 0;
    padding: 0;
  }

  header {
    display: flex;
    /* height: var(--sp-7); */
    align-content: center;
    font-size: var(--fs-6);
    padding: var(--sp-4);
    /* border-bottom: 5px solid var(--plt-neutral-300); */
    background: var(--plt-neutral-900);
    color: var(--plt-neutral-100);

    font-weight: var(--fw-medium);
    display: flex;
    align-content: center;
  }

  .menu_title {
    font-size: var(--fs-6);
    padding-left: var(--sp-4);
  }

  .content {
    padding: var(--sp-4);
    flex-direction: column;
  }
}
