.App {
  text-align: center;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--plt-neutral-900);
}

.subheader {
  margin-bottom: var(--sp-7);
  font-size: larger;
  text-transform: lowercase;
  font-variant: small-caps;
  font-weight: 600;
  justify-content: center;
  text-align: center;
}

.App-link {
  color: var(--plt-primary-700);
  text-decoration: none;
  flex: 0.3;
  text-align: center;
  border-right: 2px solid var(--plt-neutral-300);
  align-items: center;
  align-self: center;
  cursor: pointer;
}

.App-link:last-child {
  border: 0;
}

div {
  display: flex;
}

.link-container {
  width: 100%;
  justify-content: center;
}
