.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #222;
}

.subheader {
  margin-bottom: 50px;
  font-size: larger;
  text-transform: capitalize;
  font-variant: small-caps;
  font-weight: 600;
  justify-content: center;
  text-align: center;
}

.App-link {
  color: #2680c2;
  text-decoration: none;
  flex: 0.3;
  text-align: center;
  border-right: 2px solid #ccc;
}

.App-link:last-child {
  border: 0;
}

div {
  display: flex;
}

.link-container {
  width: 100%;
  justify-content: center;
}
