:root {
  --plt-primary-000: #dceefb;
  --plt-primary-100: #b6e0fe;
  --plt-primary-200: #84c5f4;
  --plt-primary-300: #62b0e8;
  --plt-primary-400: #4098d7;
  --plt-primary-500: #2680c2;
  --plt-primary-600: #186faf;
  --plt-primary-700: #0f609b;
  --plt-primary-800: #0a558c;
  --plt-primary-900: #003e6b;

  /* Tweaked so -000 is lighter */
  --plt-neutral-000: hsl(220, 15%, 99%);
  --plt-neutral-100: hsl(220, 15%, 96%);
  --plt-neutral-200: hsl(220, 15%, 91%);
  --plt-neutral-300: hsl(220, 15%, 84%);
  --plt-neutral-400: hsl(220, 15%, 70%);
  --plt-neutral-500: hsl(220, 15%, 60%);
  --plt-neutral-600: hsl(220, 15%, 49%);
  --plt-neutral-700: hsl(220, 15%, 39%);
  --plt-neutral-800: hsl(220, 15%, 30%);
  --plt-neutral-900: hsl(220, 15%, 23%);
  --plt-neutral-A00: hsl(220, 15%, 15%);
  --plt-neutral-B00: hsl(220, 15%, 10%);

  --plt-supporting-0-000: #eae2f8;
  --plt-supporting-0-100: #cfbcf2;
  --plt-supporting-0-200: #a081d9;
  --plt-supporting-0-300: #8662c7;
  --plt-supporting-0-400: #724bb7;
  --plt-supporting-0-500: #653cad;
  --plt-supporting-0-600: #51279b;
  --plt-supporting-0-700: #421987;
  --plt-supporting-0-800: #34126f;
  --plt-supporting-0-900: #240754;

  --plt-supporting-1-000: #fffaeb;
  --plt-supporting-1-100: #fcefc7;
  --plt-supporting-1-200: #f8e3a3;
  --plt-supporting-1-300: #f9da8b;
  --plt-supporting-1-400: #f7d070;
  --plt-supporting-1-500: #e9b949;
  --plt-supporting-1-600: #c99a2e;
  --plt-supporting-1-700: #a27c1a;
  --plt-supporting-1-800: #7c5e10;
  --plt-supporting-1-900: #513c06;

  --plt-success-000: #effcf6;
  --plt-success-100: #c6f7e2;
  --plt-success-200: #8eedc7;
  --plt-success-300: #65d6ad;
  --plt-success-400: #3ebd93;
  --plt-success-500: #27ab83;
  --plt-success-600: #199473;
  --plt-success-700: #147d64;
  --plt-success-800: #0c6b58;
  --plt-success-900: #014d40;

  --plt-danger-000: #ffeeee;
  --plt-danger-100: #facdcd;
  --plt-danger-200: #f29b9b;
  --plt-danger-300: #e66a6a;
  --plt-danger-400: #d64545;
  --plt-danger-500: #ba2525;
  --plt-danger-600: #a61b1b;
  --plt-danger-700: #911111;
  --plt-danger-800: #780a0a;
  --plt-danger-900: #610404;

  /* end palette */

  --ff-code: "Courier New", sans-serif;
  /* --ff-0: "Lato", sans-serif; */
  --ff-0: "Roboto Slab", sans-serif;
  /* --ff-0: "Roboto", sans-serif; */
  /* --ff-1: "Roboto Slab", serif; */
  /* --ff-0: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */

  /* type scale */
  /* p91 */
  --fs-0: 11px;
  --fs-1: 12px;
  --fs-2: 13px;
  --fs-3: 15px;
  --fs-4: 17px;
  --fs-5: 20px;
  --fs-6: 24px;
  --fs-7: 30px;
  --fs-8: 36px;
  --fs-9: 48px;
  --fs-A: 60px;
  --fs-B: 72px;

  /* spacing */
  --sp-0: 2px;
  --sp-1: 4px;
  --sp-2: 8px;
  --sp-3: 12px;
  --sp-4: 16px;
  --sp-5: 24px;
  --sp-6: 32px;
  --sp-7: 48px;
  --sp-8: 64px;
  --sp-9: 96px;
  --sp-A: 128px;
  --sp-B: 256px;
  --sp-C: 384px;
  --sp-D: 512px;
  --sp-E: 640px;
  --sp-F: 768px;

  /* border-radius */
  --br-0: 1px;
  --br-1: 2px;
  --br-2: 4px;
  --br-3: 8px;
  --br-4: 12px;
  --br-5: 16px;

  --z-index-sidebar: 2;
  --z-index-header: 3;
  --z-index-sidebar-menu: 4;
  --z-index-header-menu: 5;
  --z-index-floating-action-button: 6;
  --z-index-dialog-overlay: 7;
  --z-index-dialog-content: 8;
  --z-index-toast: 9;

  --app-header-height: 42px;
  --app-sidebar-header-height: 50px;
  --app-sidebar-width: 215px;

  --fw-medium: 600;
  --fw-bold: 900;
}

* {
  box-sizing: border-box;
}

*::before,
*::after {
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

input[type="checkbox" i] {
  margin: 0;
}

a {
  color: var(--plt-primary-500);
}

body {
  font-family: var(--ff-0);
  font-size: var(--fs-2);
  font-display: optional;
  line-height: 1.4;
  color: var(--plt-neutral-800);
  /* https://stackoverflow.com/a/11885330 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* ::selection {
  background-color: var(--plt-supporting-2-000);
} */

::placeholder {
  color: var(--plt-neutral-500);
}

.loader {
  flex: 1;

  justify-content: center;
  align-self: center;
}
.loader > img {
  width: 200px;
  height: 120px;
  box-shadow: 1px 1px 1px 1px var(--plt-neutral-200);
}

h1 {
  font-size: var(--fs-4);
  font-weight: var(--fw-bold);
  display: flex;
  flex: 1;
  padding-bottom: var(--sp-2);
  border-bottom: 1px solid var(--plt-neutral-300);
  margin-bottom: var(--sp-2);
}
